@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
  padding: 0;
  font-family: 'prompt', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

html {
  height: 100%;
}

body,
#__next {
  overflow-x: hidden;
}

.container-body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.backoffice-layout {
  display: flex;
}

.header-menu {
  height: 70px;
  background: #fff;
  border-bottom: 1px solid #ccccccb5;

  .icon-arrow-down {
    svg {
      font-size: 12px;
    }
  }

  .in-menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  .menu-left {
    display: flex;
    align-items: center;
    gap: 44px;

    .list {
      display: flex;
      gap: 26px;

      .item,
      .ant-space-item {
        color: #6f6f6f !important;
        font-weight: 500 !important;
        transition: all 0.5s !important;

        &:hover,
        &.active {
          color: #95e141 !important;
        }
      }

      .item {
        &:hover .ant-space-item,
        &.active .ant-space-item {
          color: #95e141 !important;
        }

        .ant-space-item {
          color: #6f6f6f !important;
          font-weight: 500 !important;
          transition: all 0.5s !important;
        }
      }
    }
  }

  .group-btn {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .mobile-menu {
    padding: 16px 0px;
    display: none;
    justify-content: space-between;
    align-items: center;
  }
}

footer {
  height: 40px;
  border-top: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 14px;
  }
}

@media (max-width: 1280px) {
  .header-menu .menu-left img {
    width: 100px;
  }

  .header-menu .menu-left .list .item,
  .header-menu .menu-left .list .ant-space-item {
    font-size: 14px;
  }

  .header-menu .group-btn {
    .ant-btn {
      height: 30px;
      font-size: 14px;

      span {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .header-menu {
    height: 60px;

    .mobile-menu {
      display: flex;
    }
  }

  .header-menu .in-menu {
    flex-direction: column;
    justify-content: start;
    padding: 24px 16px;
    display: none;
    position: absolute;
    background-color: #ffffff;
    z-index: 99;
    width: 100%;
    left: 0;
    top: 50px;

    &.show {
      display: flex;
    }
  }

  .header-menu .menu-left {
    width: 100%;
    a {
      display: none;
    }

    .list {
      flex-direction: column;
      width: 100%;

      .item {
        display: block;
        width: 100%;
        text-align: center;
      }

      .ant-space {
        display: flex;
        justify-content: center;
        width: auto;
      }
    }
  }

  .header-menu .menu-left .list .item,
  .header-menu .menu-left .list .ant-space-item {
    font-size: 16px;
  }

  .header-menu .group-btn {
    .ant-btn {
      height: 36px;
      font-size: 16px;

      span {
        font-size: 16px;
      }
    }
  }

  .header-menu .group-btn {
    flex-direction: column;
    gap: 16px;

    .ant-btn {
      width: 250px;
    }
  }
}

@media (max-width: 767px) {
  .content {
    width: 100vw;
  }
}
